# Ignore assets folder containing images and PDFs
/assets/

# Ignore all .pdf files
*.pdf

# Ignore image files
*.jpg
*.png

# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

